# Ignore checkpoints directory in CycleGan folder
CycleGan/checkpoints/

# Ignore weights directory in Fogg folder
Fogg/weights/


venv/

FoggyImg/

CycleGanImg/

/App-Demo.mp4

/Snow.zip
/sunrise.zip
/winter.zip
/images.zip
/images